body {
    background-color: grey;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Tahoma,Arial;
}

div.page {
    background-color: #404040;
    width: 100%;
    max-width: 1080px;
    display: inline-block;
    padding-top: 24px;
}
div.bandeau {
    position: fixed;
    background-color: #000000;
    width: 100%;
    max-width: 1080px;
    height: 20px;
    margin-top: -24px;
    padding: 24px 0;
}
div.piece_card {
    width: calc(100% - 442px);
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
div.quantity_box {
    display: inline-block;
    margin: 1px 0;
}
div.input_box {
    width: 1000px;
    margin: 0 40px 40px 40px;
}

a.action {
    background-color: #909090;
    text-decoration: None;
    color: #000000;
    border-radius: 12px;
    padding: 5px;
}
a.apercu_piece {
    display: inline-block;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    width: 400px;
    overflow: hidden;
    vertical-align: top;
    margin: 0 20px 20px;
}
a.reinitialiser {
    cursor: pointer;
    display: inline-block;
    width: 236px;
    height: 11.2px;
    padding: 15px;
    border: 1px solid rgb(0, 90, 210);
    background-color: #FFFFFF;
    color: #000000;
    vertical-align: middle;
    border-radius: 0 4px 4px 0;
    line-height: 0.65rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
}
a.reinitialiser:hover {
    background-color: rgb(0, 90, 210);
    color:  #FFFFFF;
    border-color: #EFEFEF;
}
a.hide {
    display: none;
}

table {
    display: inline-block;
    margin: 24px 40px;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
}
table.piece_infos {
    list-style: none;
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px dotted #CCCCCC;
}

tr.en_tete {
    background-color: #0000FF;
    color: white;
}
tr.white {
    background-color: #FFFFFF;
}
tr.gray {
    background-color: #A8A8A8;
}

tr.en_tete td {
    border-right: 1px solid white;
}
tr.en_tete td:last-child {
    border-right: None;
}
table.piece_infos td {
    width: 279px;
}

img {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    vertical-align: top;
}
img.apercu_piece{
    overflow: hidden;
    width: 100%;
}

div.quantity_box button {
    cursor: pointer;
    display: inline-block;
    width: 158px;
    height: 41.2px;
    border: 1px solid rgb(224, 224, 224);
}
button.bouton_moins {
    border-radius: 5px 0 0 5px;
    background-color: #FFFFFF;
}
button.bouton_plus {
    border-radius: 0 5px 5px 0;
    background-color: rgb(0, 90, 210);
}

div.quantity_box input {
    width: 80px;
    height: 37.2px;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    border-left: none;
    border-right: none;
    appearance: textfield;
    text-align: center;
}
input.enregistrer {
    cursor: pointer;
    display: inline-block;
    width: 268px;
    height: 43.2px;
    padding: 15px;
    border: 1px solid rgb(0, 90, 210);
    background-color: rgb(0, 90, 210);
    color: #FFFFFF;
    vertical-align: middle;
    border-radius: 4px 0 0 4px;
    line-height: 0;
    font-size: 0.875rem;
    font-weight: 500;
}
input.enregistrer:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #EFEFEF;
}

div.quantity_box label {
    display: inline-block;
    width: 100px;
}

div.quantity_box button svg {
    vertical-align: middle;
}

select.search {
    cursor: pointer;
}

button.action {
    margin-top: 12px;
    cursor: pointer;
    height: 34px;
    width: auto;
    padding: 1px 4px;
    display: inline-block;
}
button.action.selected {
    background-color: #D0D0D7;
}

form.en_tete {
    /* display: inline-block; */
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 108px 40px 0;
    position: fixed;
    padding-bottom: 24px;
    background-color: #404040;
}

.search {
    display: inline-block;
    height: 40px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #D8D8D8;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.hide {
    display: none;
}